* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.col-lg-12 {
  width: 100%;
  background: #FF5733;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FF5733;
}


.navbar {
  margin-bottom: 0px;
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  transition: color 0.3s;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #000000;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
  transition: color 0.3s;
}

.navbar-inverse {
  background-color: #FF5733;
  border-color: #FF5733;
  position:fixed;
}

.container {
  max-width: 80%;
  margin-top:40px;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}


/*-------------header-----*/
/*home*/
.left,
.right {
  width: 50%;
  position: relative;
}

.flex {
  display: flex;
}

.home {
  background-color: #000;
  min-height: auto;
  overflow:hidden;
}

.right.topMargin {
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
  color: #ffffff;
}

.text-center {
  background-color: black;
  color: #ffffff;
  padding: 20px;
  margin-top: 50px;
}

.card {
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  height:70vh;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.card-body {
  padding: 0px 0px 10px 20px;
}

.card-img-top {
  width: 100%;
  overflow: hidden;
  height:50vh;
}

/* Login and Signup CSS */
.wrapper {
  width: 330px;
  padding: 2rem 1rem;
  margin: 80px auto;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  color: #FF5733;
  z-index: 1001;
}

.wrapper h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.wrapper form input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.224);
}

.wrapper form input:focus {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.224);
}

.wrapper button {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 12px;
  border-radius: 20px;
  outline: none;
  width: 90%;
  color: #ffffff;
  background-color: #ff5733;
  border-color: #ff5733;
  transition: background-color 0.3s, border-color 0.3s;
}

.wrapper button:hover {
  background-color: #ff5733e9;
  border-color: hsl(11, 100%, 60%);
}

.btn-search {
  background-color: #000000; 
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-search:hover {
  background-color: #000000; 
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); 
}

/****Restaurant Page style ********/
hr.rounded {
  border-top: 2px solid #ff5733e9;
  border-radius: 5px;
  width:10%;
}
.restro-wrap {
  width: auto;
  margin: 80px 0 0 80px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.restro-wrap img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    height:36rem;
}
.restro-wrap .content{
    padding:30px;
}
.restro-wrap .content i{
    color:#FF5733;
    font-size:18px;
}
.form-wrap
{
    width:auto;
    /* height: 81.5%; */
    padding-bottom: 20px;
    padding-top:5%;
    margin:80px 40px 0px 0px;
    background-color: white;
    border-radius:10px;
    text-align:center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    color:#FF5733;
}
.star-icon {
    float: right;
    color:#FF5733;
}
.res-img
{
  width:100%;
  height:auto;
}
.container-form {
  margin: 5px;
  color: black;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgb(255, 215, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.form-img img {
  max-width: 100%;
  height: auto;
  padding: 20px;
}
.row
{
  margin-right:0px;
}
.form-wrap .btn-success {
  width: 80%;
  background-color: #FF5733;
  padding:10px;
  border: 1px solid rgb(255, 215, 0);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  margin:20px;
}
.restro-wrap .gallery-img img{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;  max-width: 100%;
  height: auto;
  margin-bottom:20px;
}

/* Confirm Booking Page */
.content1{
  text-align: center;
  font-size:20px;
  color: #211211;
  font-weight:600px;
  margin-top:40px;
  font-family: 'Playfair Display', serif;
}


.booking-wrapper {
  width:500px;
  padding: 1rem 1rem;
  margin:auto;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  color: #FF5733;
  z-index: 1001;
}


.fa-check-circle:before {
  color: green;
  font-size: 50px;
}

.form-control select {
  width: 100%;
  margin-left: 10px;
  padding: 12px;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #e4e4e4;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.224);
}

.reservation-details {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: #333;
  text-align: center;
}

.reservation-details h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.reservation-details p {
  margin-bottom: 10px;
}

.button-container {
  margin-top: 20px;
}

.button-container .btn {
  background-color: #FF5733;
  color: #ffffff;
  padding: 12px;
  border-radius: 20px;
  outline: none;
  width: 50%;
  margin-top: 20px;
  border: 1px solid #FF5733;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button-container .btn:hover {
  background-color: #ff5733e9;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.see-all-text {
  bottom: 175px;
  right: 175px;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

}

.see-all-text:hover {
  color: #000000;
}

.error-input {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

.gallery{
  padding-left: 13.5px;
}

.form-group{
  width: 50px;
}

.hurry{
  color: red;
}

.book_table {
  margin-top: 25px;
  background-color: #ff5733;
  color: white;
  width: 87.5%;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.book_table.clicked {
  color:white;
  background-color: red
}
.book_table:hover {
  color: white;
  transform: scale(1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  background-color: #ff5733e9;
}

.book_table:active {
  color:white;
  transform: scale(0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ff5733;
}

/* 404 */
.clearfix:before,
.clearfix:after {
    display: table;

    content: ' ';
}
.clearfix:after {
    clear: both;
}
body {
    background: #f0f0f0 !important;
}
.page-404 .outer {
    position: absolute;
    top: 0;

    display: table;

    width: 100%;
    height: 100%;
}
.page-404 .outer .middle {
    display: table-cell;

    vertical-align: middle;
}
.page-404 .outer .middle .inner {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.page-404 .outer .middle .inner .inner-circle {
    height: 300px;

    border-radius: 50%;
    background-color: #ffffff;
}

.page-404 .outer .middle .inner .inner-circle i {
    font-size: 5em;
    line-height: 1em;

    float: right;

    width: 1.6em;
    height: 1.6em;
    margin-top: -.7em;
    margin-right: -.5em;
    padding: 20px;

    -webkit-transition: all .4s;
            transition: all .4s;
    text-align: center;

    color: #f5f5f5!important;
    border-radius: 50%;
    background-color: #ff5733;
    box-shadow: 0 0 0 15px #f0f0f0;
}
.page-404 .outer .middle .inner .inner-circle span {
    font-size: 11em;
    font-weight: 700;
    line-height: 1.2em;

    display: block;

    -webkit-transition: all .4s;
            transition: all .4s;
    text-align: center;

    color: #e0e0e0;
}
.page-404 .outer .middle .inner .inner-status {
    font-size: 20px;

    display: block;

    margin-top: 20px;
    margin-bottom: 5px;

    text-align: center;

    color: #ff5733;
}
.page-404 .outer .middle .inner .inner-detail {
    line-height: 1.4em;

    display: block;

    margin-bottom: 10px;

    text-align: center;

    color: #999999;
}

.error {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

.success {
  border: 1px solid green;
  box-shadow: 0 0 5px green;
}

.error-message-email {
  color: #ff2f00;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 50%;
}

.error-message-password {
  color: #ff2f00;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 50%;
}

/* Styles for pagination */
.pagination {
  display: inline-block;
  margin-top: 20px;
}

.pagination .page-item {
  display: inline;
  margin: 0 5px;
}

.pagination .page-link {
  padding: 10px 15px;
  border: 1px solid #FF5733;
  background-color: #FFFFFF;
  color: #FF5733;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination .page-link:hover {
  background-color: #FF5733;
  color: #FFFFFF;
  border-color: #FF5733;
}

.pagination .page-item.disabled .page-link {
  color: #999999;
  cursor: not-allowed;
}

.pagination .page-item.active .page-link {
  background-color: #FF5733;
  color: #FFFFFF;
  border-color: #FF5733;
}

.pagination .page-link:focus {
  box-shadow: none;
  outline: none;
}

/* Custom styles for SweetAlert2 */
.swal2-popup {
  font-family: 'sans-serif';
}

.swal2-title {
  color: #FF5733;
}

.swal2-content {
  color: #000000;
}

.swal2-icon {
  color: #FF5733;
}

.swal2-confirm {
  background-color: #FF5733 !important; 
  color: #ffffff !important; 
}

.swal2-cancel {
  background-color: #ff0000 !important; 
  color: #ffffff !important; 
}

.swal2-footer {
  text-align: center;
}

.swal2-buttons {
  display: flex;
  justify-content: center;
}
.Error-text
{
  margin:130px;
  padding:30px;
  font-size:30px;
  text-align:center;
  color:red;
}

/*Responsive css for different media*/

@media only screen and (max-width: 700px)
{
.container {
  max-width:100%;
  padding-left:0px;
  padding-right:0px;
  margin-left :0px;
}
.container h3 {
  padding:10px;
}
.col-md-4 {
  flex: 100%;
  max-width: 100%;
}
hr.rounded {
  width:30%;
  margin-left:10px;
}
.left {
  width:100%;
  text-align: center;
}
.row {
  margin-left:0px;
}
.card-img-top {
  height:0%;
}
.col-md-6{
 padding:30px;
}
.card {
  height:auto;
  margin-top:0px;
}
.left, .right {
  width: 100%;
  position: relative;
}
.right.topMargin {
  font-family: 'Playfair Display', serif;
  padding: 0px 30px 30px 30px;
  margin-top: 0px;
  color: #ffffff;
}
.flex {
  display:grid;
}
.restro-wrap {
  margin:0px;
}
.form-wrap {
  margin:20px;
}
/*media screen for restaurant*/
.col-sm-8{
  margin-top:30px;
}
.Error-text
{
  margin:0px;
  padding:20px;
  font-size:25px;
  text-align:center;
  color:red;
}
}